{% extends "layout.html" %}
{% block content %}
    {% for journey in journeys %}
        <article class="media content-section">
          <div class="media-body">
            <div class="">
              <a class="mr-2" href="#">{{ journey.author }}</a>
              <small class="text-muted">{{ journey.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ journey.title }}</a></h2>
            <p class="article-content">{{ journey.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}